@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.taskListModal {
  margin: auto;
  margin-top: 2.5rem;
  align-content: center;
  max-width: 665px;
  height: 840px;
  background-color: #a5b9ff;
  border-radius: 25px;
  overflow: scroll;
  overflow-x: hidden;
  overflow: -moz-scrollbars-none;
  box-shadow: 0 0 0 0;
  outline: none;
  cursor: pointer;
}

.taskListModal::-webkit-scrollbar {
  width: 0 !important;
}

input[type="checkbox"] {
  transform: scale(4);
  margin-right: 30px;
  cursor: pointer;
}

.item {
  font-size: 56px;
  font-family: "Lobster", cursive;
  font-weight: 400;
}

.c p {
  color: #000000;
  font-family: "Lobster", cursive;
}

.alinharC {
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.c {
  text-decoration: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.textLink {
  text-decoration: none;
}

.item {
  margin-left: 70px;
  width: fit-content;
  height: fit-content;
  word-break: break-all;
}

.list {
  margin-bottom: 2rem;
}

.top {
  justify-content: space-between;
  display: flex;
  /* align-items: start; */
}
/* 
.top button {
  background-color: #a5b9ff;
  border: 0;
  min-width: 30px;
  min-height: 30px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 30px;
} */

.top button img {
  height: 2em;
}

.top h2 {
  width: 75%;
  font-size: 62px;
  text-align: center;
  margin-left: 5rem;
  word-wrap: break-word;
  margin-bottom: 30px;
  font-family: "Lobster", cursive;
  font-weight: 400;
}

.form {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

.form button {
  cursor: pointer;
  margin-left: 0.5rem;
  background-color: #a5b9ff;
  border: 0;
}

.form button img {
  background-color: #a5b9ff;
  height: 1.5rem;
}
